<html>
<head>
  <title> { an adventure }, really</title>
</head>

<body>


  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis quam commodo, bibendum nisi vel, sodales ante. Cras a neque ut libero sollicitudin congue at ut magna. Nullam sollicitudin, nibh malesuada vulputate facilisis, erat diam molestie enim, eu consequat nisi ligula vel erat. Integer orci nisl, porttitor a posuere non, eleifend vitae mauris. Nulla libero orci, ullamcorper ac est in, rhoncus tempus risus. Duis fringilla blandit tellus, sit amet ullamcorper nulla consequat lobortis. Duis nec tincidunt augue. Curabitur iaculis ex et nulla laoreet elementum vitae id enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas iaculis dui ac turpis consectetur volutpat. In at bibendum risus.

Praesent pretium augue felis, sed imperdiet sapien consectetur vitae. Nunc quis volutpat est, pellentesque bibendum metus. Fusce suscipit id erat ut pharetra. Aenean ultrices magna interdum, gravida ipsum id, molestie ex. Cras eget molestie nunc. Etiam hendrerit auctor ligula sit amet suscipit. Morbi varius quam sit amet massa congue mollis. Donec et enim egestas urna tempus pellentesque et in libero.

Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam aliquet euismod ligula, ac ornare risus lobortis sit amet. Cras molestie nulla at ipsum mattis, eget vulputate tortor viverra. Fusce tincidunt enim at odio convallis aliquam et eget turpis. Proin viverra luctus dui pharetra molestie. Morbi vulputate libero ac risus iaculis dictum. Cras a mi aliquet, efficitur mi a, rhoncus urna. Duis at rutrum magna. Pellentesque a mattis quam.

Sed ac sollicitudin leo, sed finibus libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam volutpat posuere libero, in sodales orci bibendum sed. Mauris iaculis nisl tortor, sit amet porttitor velit interdum in. Aliquam luctus malesuada dictum. Suspendisse tincidunt lorem semper velit tempor, eget sollicitudin turpis commodo. In interdum ultrices est. Interdum et malesuada fames ac ante ipsum primis in faucibus.

Maecenas sed turpis malesuada, pulvinar felis non, vehicula nibh. Sed in malesuada nibh. Integer et sem mauris. Ut ultrices ultrices velit. Sed posuere vestibulum nibh, vitae feugiat quam condimentum ac. Nulla id erat eget odio efficitur varius. Cras faucibus, mi at rutrum blandit, odio lorem condimentum mauris, sed scelerisque erat tellus ac dolor. Sed at pharetra orci. Integer suscipit auctor eros, at dignissim risus convallis ac. Quisque ac dictum lorem. In sit amet diam sed dui pharetra dapibus sed vitae diam. Aenean lacinia diam eget elit luctus, id interdum est ultricies. Proin porta euismod gravida. Nullam porta nibh quis vestibulum consectetur. Nullam commodo in nisi vitae sollicitudin. Suspendisse potenti.



  {{# person }}
    <h3>{{ name }}</h3>
    <span>{{ age }}</span>
  {{/ person }}
  <div>
    {<ul>
      {{# dogs }}
        {{=<< >>=}}
        <li>
          <<> test/profiling/partial.mustache>>
        </li>
        <<={{ }}=>>
      {{/ dogs }}
    </ul>}
  </div>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis quam commodo, bibendum nisi vel, sodales ante. Cras a neque ut libero sollicitudin congue at ut magna. Nullam sollicitudin, nibh malesuada vulputate facilisis, erat diam molestie enim, eu consequat nisi ligula vel erat. Integer orci nisl, porttitor a posuere non, eleifend vitae mauris. Nulla libero orci, ullamcorper ac est in, rhoncus tempus risus. Duis fringilla blandit tellus, sit amet ullamcorper nulla consequat lobortis. Duis nec tincidunt augue. Curabitur iaculis ex et nulla laoreet elementum vitae id enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas iaculis dui ac turpis consectetur volutpat. In at bibendum risus.

Praesent pretium augue felis, sed imperdiet sapien consectetur vitae. Nunc quis volutpat est, pellentesque bibendum metus. Fusce suscipit id erat ut pharetra. Aenean ultrices magna interdum, gravida ipsum id, molestie ex. Cras eget molestie nunc. Etiam hendrerit auctor ligula sit amet suscipit. Morbi varius quam sit amet massa congue mollis. Donec et enim egestas urna tempus pellentesque et in libero.

Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam aliquet euismod ligula, ac ornare risus lobortis sit amet. Cras molestie nulla at ipsum mattis, eget vulputate tortor viverra. Fusce tincidunt enim at odio convallis aliquam et eget turpis. Proin viverra luctus dui pharetra molestie. Morbi vulputate libero ac risus iaculis dictum. Cras a mi aliquet, efficitur mi a, rhoncus urna. Duis at rutrum magna. Pellentesque a mattis quam.

Sed ac sollicitudin leo, sed finibus libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam volutpat posuere libero, in sodales orci bibendum sed. Mauris iaculis nisl tortor, sit amet porttitor velit interdum in. Aliquam luctus malesuada dictum. Suspendisse tincidunt lorem semper velit tempor, eget sollicitudin turpis commodo. In interdum ultrices est. Interdum et malesuada fames ac ante ipsum primis in faucibus.

Maecenas sed turpis malesuada, pulvinar felis non, vehicula nibh. Sed in malesuada nibh. Integer et sem mauris. Ut ultrices ultrices velit. Sed posuere vestibulum nibh, vitae feugiat quam condimentum ac. Nulla id erat eget odio efficitur varius. Cras faucibus, mi at rutrum blandit, odio lorem condimentum mauris, sed scelerisque erat tellus ac dolor. Sed at pharetra orci. Integer suscipit auctor eros, at dignissim risus convallis ac. Quisque ac dictum lorem. In sit amet diam sed dui pharetra dapibus sed vitae diam. Aenean lacinia diam eget elit luctus, id interdum est ultricies. Proin porta euismod gravida. Nullam porta nibh quis vestibulum consectetur. Nullam commodo in nisi vitae sollicitudin. Suspendisse potenti.
</body>
</html>
