{{ name }}
and some text
{{#mysection}}
  my name is: {{name}}
  I am from class : {{class}}
  {{#nested}}
    A nested {{name}}
  {{/nested}}
{{/mysection}}
{{^inverted}}
  My key is missing.
{{/inverted}}
{{^inverted2}}
  Mine is false.
{{/inverted2}}
